{% extends layout('heroless') %}

{% block content %}
<div>
    <div class="card">
        <h2 class="card-title">{{ category.name }}</h2>
        <p class="sub">{{ category.description }}</p>
        <ul class="clean table">
            {% for entry in category.articles %}
            <li {% if (entry.id == article.id) %}class="current"{% endif %}>
                <a  href="/wiki/{{ category.slug }}/{{ entry.slug }}"
                    title="{{ entry.name }} | {{ category.name }}">
                    {{ entry.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div>
    <h1>{{ article.name }}</h1>
    {{ article.content.render()|raw }}
    <h3>Revisions</h3>
    <div class="table-wrapper">
        <table class="responsive">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Edited By</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for version in roster.versions|reverse %}
                <tr>
                    <td>{{ version.model.updated_at|date("Y-m-d h:ia") }}</td>
                    <td>{{ version.model.updated_by.display_name }}</td>
                    <td class="wide">{{ version.model.commit_message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}