{% extends layout('heroless') %}

{% block content %}
<div>
    <div class="card">
        <h2 class="card-title">All Categories</h2>
        <ul class="clean table">
            {% for cat in categories %}
            <li {% if cat.id == category.id %}class="current"{% endif %}>
                <a  href="/wiki/{{ cat.slug }}"
                    title="{{ cat.title }}">
                    {{ cat.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div>
    <h1>{{ category.name }}</h1>
    <p class="sub">{{ category.description }}</p>
    <div class="wiki-flex">
        <div>
            <ul>
                {% for article in category.articles %}
                <li>
                    <a  href="/wiki/{{ category.slug }}/{{ article.slug }}"
                        title="{{ article.name }} | {{ category.name }}">
                        {{ article.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}