{% extends layout('heroless') %}

{% block content %}
<div>
    <div class="card">
        <h1 class="card-title">Wiki</h1>
    </div>
</div>
<div>
    <div class="wiki-flex">
        {% for category in categories %}
        <div class="card">
            <h2 class="card-title">
                <a  href="/wiki/{{ category.slug }}"
                    title="{{ category.name }}">
                    {{ category.name }}
                </a>
            </h2>
            <p class="sub">{{ category.description }}</p>
            {% if (category.articles|length > 0) %}
            <ul class="clean table">
                {% for article in category.articles %}
                <li>
                    <a  href="/wiki/{{ category.slug }}/{{ article.slug }}"
                        title="{{ article.name }} | {{ category.name }}">
                        {{ article.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}